*{margin:0; padding:0;}
body{
    height: 100%;
    width: 100%;
    background-color:brown;
    
}
header{
    height:10%;
    background-color:black;
}

#headerArticulo{
    background-color:brown;
    border-bottom-style:solid;
    padding:1%;
}
article{
    border-style:solid;
    min-height:50px;
}
#seccionArticulo{
    padding:1%;
    
}
img{
    border-style:double;
}
#footerArticulo{
    height:5%;
    
    border-top-style:solid;
    
}

#formulario{
    padding:1%;
    height:30%;
    background-color:darkred;
}

#anuncios{
    padding:1%;
    min-height:55%;
    border-style:double;
}